{{ define "main" }}
  <div class="container" role="main">
    <article class="article" class="blog-post">
      <div class="postmeta">
        {{ partial "postmeta.html" . }}
      </div>
      <br>
      {{ partial "toc.html" . }}

      {{ if .Params.tags }}
        <div class="blog-tags">
          {{ range .Params.tags }}
          <a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
          {{ end }}
        </div>
      {{ end }}

      <!-- Article content -->
      <div class="article-content">
        {{ .Content }}
      </div>
    </article>

    <!-- Back to top button -->
    {{ if gt .WordCount 400 }}
      {{ partial "backtotop.html" . }}
      <button onclick="topFunction()" id="backtotopButton" style="display: none;">
        <i class="fa fa-angle-up"></i>
      </button>
    {{ end }}
  </div>
{{ end }}
